In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./data/realKnownCause/nyc_taxi.csv")
df

                 timestamp  value
0      2014-07-01 00:00:00  10844
1      2014-07-01 00:30:00   8127
2      2014-07-01 01:00:00   6210
3      2014-07-01 01:30:00   4656
4      2014-07-01 02:00:00   3820
...                    ...    ...
10315  2015-01-31 21:30:00  24670
10316  2015-01-31 22:00:00  25721
10317  2015-01-31 22:30:00  27309
10318  2015-01-31 23:00:00  26591
10319  2015-01-31 23:30:00  26288

[10320 rows x 2 columns]